:root {
  --primary-color: #1d3557;
  --secondary-color: #457b9d;
  --accent-color: #007bff;
  --background-color: #f5efe6;
  --text-color: #1d1d1d;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
}